body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace, Wotfard-fallback, sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* HEADER */
header {
  padding: 16px 72px;
}

header{
  background-color: #323131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 6px #00000070;
  font-size: 1.4rem;
  color: #fff;
  align-self: center;
}

.logo-image{
  width: 64px;
  height: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 32px;
  flex: 1;
}

a, .navigation a:visited{
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  text-shadow: 2px 2px 4px #00000070;
}

a.blue:hover, 
a.blue:active {
  color: #a8eafb;
}

a.yellow:hover, 
a.yellow:active {
  color: #ffcb7c;
}

a.red:hover, 
a.red:active {
  color: #fe6976;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.shrink {
  transition: all .2s ease-in-out;
}

.shrink:hover {
  transform: scale(0.95);
}

/* INTRO */

.intro {
  display: flex;
  padding: 72px;
  background-color: #414040;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.intro img {
  width: 256px;
  height: auto;
}

.intro-left {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  text-shadow: 2px 2px 6px #00000070;
}

.hero {
  margin: 0;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.439);
  color: #ffffff;
}

.intro-left p {
  color: #d4d1d1;
}

.intro-left button {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  border: solid 3px white;
  border-radius: 10px;
  background-color: #fe6976;
  width: 60%;
  padding: 16px;
  align-self: center;
  color: white;
  font-size: px;
  transform: scale(1);
}

button:nth-of-type(1):hover{
 border-color: #ffcb7c;
 cursor: pointer;

}

