body{
  margin: 0;
  
  font-family: 'Courier New', Courier, monospace, Wotfard-fallback, sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* HEADER */

header, footer{
  padding: 16px 72px;
  background-color: #323131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 6px #00000070;
  font-size: 1.4rem;
  color: #fff;
  align-self: center;
}

.logo-image{
  width: 64px;
  height: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 32px;
  flex: 1;
}

a, .navigation a:visited{
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  text-shadow: 2px 2px 4px #00000070;
}

a.blue:hover, 
a.blue:active {
  color: #a8eafb;
}

a.yellow:hover, 
a.yellow:active {
  color: #ffcb7c;
}

a.red:hover, 
a.red:active {
  color: #fe6976;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.shrink {
  transition: all .2s ease-in-out;
}

.shrink:hover {
  transform: scale(0.95);
}

/* INTRO */

.intro {
  background-color: #414040;
  display: flex;
  padding: 72px;
  min-height: 40vh;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex: 1;
}

.intro img {
  width: 256px;
  height: auto;
}

.intro-left {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  text-shadow: 2px 2px 6px #00000070;
}

.hero {
  margin: 0;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.439);
  text-transform: uppercase;
  color: #ffffff;
}

.intro-left p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #d4d1d1;
}

.intro-left button {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  border: solid 3px white;
  border-radius: 10px;
  background-color: #fe6976;
  width: 30%;
  max-width: 150px;
  min-width: min-content;
  padding: 16px;
  align-self: center;
  color: white;
  font-size: px;
  transform: scale(1);
}

button:nth-of-type(1):hover {
 border-color: #ffcb7c;
 cursor: pointer;
}

/* OFFER*/

.offer {
  padding: 72px;

}

.offer h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 0 0 48px;
}

.offer .pictures {
  margin: 0 auto;
  padding: 16px;
  max-width: 50vw;
  /* border: 3px solid black; */
  background-color:rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.pictures figure {
  font-size: 1.1rem;
  flex: 1;
}

.pictures img {
  margin-bottom: 16px;
  width: 128px;
}



